.menu_header {
    display: flex;
    justify-content: space-between;
}
.menu_header p {
    color: var(--color-borders);
    font-size: var(--font-logo);
    font-weight: 500;
    text-transform: capitalize;
}
.wrapper {
    overflow: hidden;
}
.img_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 1rem 0rem;
}
.grids {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 10rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    flex-direction: column;
}
.img {
    position: relative;
    width: 10rem;
    height: 7rem;
}
.imgg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    font-size: var(--font-logo);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-ico);
}
.active {
    background-color: var(--color-orrr);
} 
.active .title {
    color: var(--color-orange);
}
@media (min-width: 280px) and (max-width: 500px) 
{
    .img_grid {
    grid-template-columns: repeat(2, 1fr) !important;
    justify-items: center;
    gap: 0.7rem !important;
}
.title {
    font-size: var(--font-logos);
    font-weight: 600;
}
}
@media (min-width: 501px) and (max-width: 1024px) {
        .img_grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }

}