.hero_divs {
    margin: 6rem 1rem;
}
.hero_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    font-size: var(--font-logo);
    font-weight: 600;
    color: var(--color-borders);

}
.foody_link {
    color: var(--color-pink);
    font-size: var(--font-logo);
}
.foody {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.arrow {
    display: flex;
    align-items: center;
    font-size: 1rem !important;
    color: var(--color-border);
}
.homee {
    font-size: var(--font-logo);
    font-weight: 500;
    color: var(--color-borders);
}
.grids {
    display: grid;
    grid-template-columns: 65% auto;
    gap: 1.3rem;
    margin: 1.5rem 0rem;
}
.foody_com {
     display: flex;
     background-color: var(--color-sidebg);
     border-radius: 0.3rem;
     padding: 1rem 2rem;
     justify-content: space-between;
}
.ride h3 {
    font-size: var(--font-header);
    color: var(--color-blackie) !important;
    text-transform: capitalize;
    font-weight: 600;
}
.order {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0.4rem 0.8rem;
    color: var(--color-orange);
    background-color: var(--color-white);
    font-size: var(--font-logo);
    font-weight: 800;
    border-radius: 0.4rem;
    align-items: center;

}
.img {
    width: 100%;
    height: 15rem !important;
    position: relative;
}
.imgs {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-lpink);
    position: relative;
    border-radius: 1rem;
}
.sub h4 {
    text-align: center;
    font-weight: 500;
    padding: 1rem 2rem;
    color: var(--color-borders);
    font-size: var(--font-smalleys);
}
.btns_go {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.go_btn {
    background-color: var(--color-pro);
     padding: 0.3rem 0.5rem;
     outline: none;
     border: none;
     width: 90%;
     border-radius: 0.5rem;
     color: var(--color-borders);
     font-size: var(--font-logos);
     font-weight: 500;
}
@media (min-width: 280px) and (max-width: 600px) {
    .grids {
        grid-template-columns: 1fr;
        gap: 1.3rem;
        margin: 1.5rem 0rem;
    }
    .sub {
        display: flex;
        padding: 1.5rem 0rem;
    }
    .sub h4 {
        color: var(--color-borders);
        font-size: var(--font-logo);
    }
    .ride h3 {
        font-size: var(--font-fold);
        color: var(--color-blackie) !important;
    }
    .order {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 15rem !important;
        position: relative;
    }
    .foody_com {
        align-items: center;
        padding: 1rem 1rem;
        
   }
   .hero_divs {
    margin: 5rem 1rem;
}
.go_btn {
     font-size: var(--font-fold);
     font-weight: 500;
}
}
@media (min-width: 601px) and (max-width: 767px) {
    .grids {
        grid-template-columns: 1fr;
        gap: 1.3rem;
        margin: 1.5rem 0rem;
    }
    .sub h4 {
        font-size: var(--font-header);
        width: 70%;
    }
    .ride h3 {
        color: var(--color-blackie) !important;
        width: 100%;
    }
    .order {
        width: 100%;
        font-size: var(--font-logos);
    }
    .img {
        width: 30rem;
        height: 15rem !important;
        position: relative;
    }
    .foody_com {
        background-color: var(--color-sidebg);
        align-items: center;
   }
   .hero_divs {
    margin: 6rem 1rem;
}
.go_btn {
    font-size: var(--font-fold);
    font-weight: 500;
}
.name {
    font-size: var(--font-logos);

}
.foody_link {
    font-size: var(--font-logos);
}
.namee {
    font-size: var(--font-logos)
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .grids {
        grid-template-columns: 1fr;
        gap: 1.3rem;
        margin: 1.5rem 0rem;
    }
  }